/* Navigation */
.navigation ul {   
    padding: 0;
    margin: 0;
    list-style-type: none;   
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-size: 20px;
}

.navigation ul li {
    margin-left: 21px;   
}

 .logo {
    padding: 0;
    margin: 0;
    list-style-type: none;   
    color: gold;
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-style: oblique 100deg; 
    font-size: 40px;
    font-family: 'Great Vibes', cursive;

 }

.double {
    height: 80vh;
    max-width: 100%;
    background-position: center center;
    background-size: cover;
    background-image: url(https://i.postimg.cc/yNfWxHwR/pexels-nathan-j-hilton-4056664-2.jpg);
}

.justify {
    justify-content: space-between;
}
body {
    margin: 0;
}

/* Splash */
header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.splash {  
    color: #fff;
    min-height: 500px;
}

.splash-inner {
    justify-content: center;
    align-items: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 1.2;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.page-title span {
    font-style: oblique 100deg; 
    font-size: 80px;
    font-weight: 700;
}

/* Button styles */
.btn {  
    max-width:  100px;
    padding:  16px;
    border-radius: 5px;
    font-family: Inconsolata;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
}

.btn-one {
    color: #fff;
    background: gold;
    border-color: gold;
}



/* Services */
.services-title {
    justify-content: center;
    align-items: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    margin-bottom: 0;
    padding: 0;
}

.page-service {
    margin-bottom: 0;
}
.services-title p {
   font-size: 15px;
   font-style: italic;

}


/* Services */
.services {
    padding: 80px 0;
}

.services i {
    color: gold;
    font-size: 80px;
}

.card  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.card-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card i {

font-size: 30px;
background: white;
width: 60px;
height: 60px;
line-height: 60px;
border-radius: 50% ; 
border: solid 2px gold; 
}

/* Portofolio */

.portofolio {
    background: #efeded;
    margin-bottom: 50px;
}

.card-image img { 
    width: 100%;    
    display: block; 
    height: 400px;   
}

.card-body {
   
    max-width: 100%;
}
.card-body h5  {
    margin-bottom: 0;
    font-size: 30px;
  
}

.card-body p {
    margin-top: 0;
    font-size: 18px;
    font-style: italic;
}

/* Footer */
i{
    text-align: center;
}

.media i {
    
    font-size: 30px;
    background: grey;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;   
}

.logo2 {
    
    list-style-type: none;   
    color: black;
    display: flex;
    justify-content: start;
}

.media {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    
}

 .media .logo {
    padding: 0 15px;
 }

 .container-footer .media {
    z-index: 1;
 }

section .footer {
    display: flex;
    justify-content: center;
    align-items: center;
}